html {
  background-color: #323232; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #333333;
  padding-top: 50px; }

a {
  color: #c03; }
  a:hover {
    color: #e60039; }
  a:active {
    color: #b3002d; }
  a:focus {
    color: #b3002d; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4 {
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 600; }

img {
  max-width: 100%;
  height: auto; }

header {
  font-size: 18px; }
  header .navbar-default {
    background: white;
    /* The Fallback */
    background: rgba(255, 255, 255, 0.9);
    border-color: #c03; }
    header .navbar-default .navbar-nav > li a {
      color: #9a9a9a; }
      header .navbar-default .navbar-nav > li a:hover {
        color: #f6f6f6; }
      header .navbar-default .navbar-nav > li a:active {
        color: #222222; }
      header .navbar-default .navbar-nav > li a:focus {
        color: #f6f6f6; }
    header .navbar-default .navbar-nav > li a {
      background-color: transparent; }
      header .navbar-default .navbar-nav > li a:hover {
        background-color: #c03; }
      header .navbar-default .navbar-nav > li a:active {
        background-color: #e9e9e9; }
      header .navbar-default .navbar-nav > li a:focus {
        background-color: #e9e9e9; }
    header .navbar-default .navbar-nav > .active > a {
      color: #222222;
      background-color: #e9e9e9; }
      header .navbar-default .navbar-nav > .active > a:hover {
        color: #222222;
        background-color: #e9e9e9; }
      header .navbar-default .navbar-nav > .active > a:active {
        color: #222222;
        background-color: #e9e9e9; }
      header .navbar-default .navbar-nav > .active > a:focus {
        color: inherit;
        background-color: inherit; }
    header .navbar-default .navbar-brand {
      color: #dddddd;
      padding: 12px 15px 0;
      line-height: 24px; }
      header .navbar-default .navbar-brand:hover, header .navbar-default .navbar-brand:focus {
        color: #ffffff; }
      header .navbar-default .navbar-brand > span {
        vertical-align: baseline;
        line-height: 20px; }
        header .navbar-default .navbar-brand > span.part-0 {
          color: #c03;
          font-size: 22px;
          font-weight: 300;
          margin-right: 4px; }
        header .navbar-default .navbar-brand > span.part-1 {
          color: #424242;
          font-size: 29px;
          font-weight: 300;
          text-transform: lowercase; }
        header .navbar-default .navbar-brand > span.part-2 {
          color: #424242;
          font-size: 22px;
          font-weight: 700;
          text-transform: uppercase; }
        header .navbar-default .navbar-brand > span.part-3 {
          display: none;
          color: #999;
          font-size: 18px;
          font-weight: 300;
          margin-left: 4px; }

footer {
  background-color: #323232;
  padding: 30px 0 20px;
  border-color: transparent;
  color: #acacac;
  text-shadow: 0 -1px 0 #010101; }
  footer a {
    color: #898989; }
    footer a:hover {
      color: #bfbfbf; }
    footer a:active {
      color: #bfbfbf; }
    footer a:focus {
      color: #bfbfbf; }
  footer h1, footer h2, footer h3, footer h4 {
    color: #fefefe;
    text-shadow: 0 -1px 0 #010101;
    font-weight: 300; }
  footer ul {
    padding: 0;
    list-style-type: none; }
  footer hr {
    border-top: 1px solid #252525;
    border-bottom: 1px solid #3f3f3f; }
