<footer class="footer">
    <div class="container">
        <div id="c18" class="csc-default">
            <div id="c4" class="csc-default">
                <div class="row ">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div id="c13" class="csc-default">
                            <header class="csc-header csc-header-n1"><h3 class="csc-firstHeader">Framework/CMS</h3>
                            </header>
                            <ul>
                                <li><a href="http://symfony.com/" target="_blank">Symfony</a></li>
                                <li><a href="http://cmf.symfony.com/" target="_blank">Symfony CMF</a></li>
                                <li><a href="http://typo3.org/" target="_blank">TYPO3</a></li>
                                <li><a href="http://neos.typo3.org/" target="_blank">NEOS</a></li>
                                <li><a href="http://flow.typo3.org/" target="_blank">Flow</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div id="c550" class="csc-default">
                            <header class="csc-header csc-header-n1"><h3 class="csc-firstHeader">GUI foo</h3></header>
                            <ul>
                                <li><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a></li>
                                <li><a href="http://fortawesome.github.io/" target="_blank">Font Awesome</a></li>
                            </ul>
                        </div>
                        <div id="c7" class="csc-default">
                            <header class="csc-header csc-header-n2"><h3>Script foo</h3></header>
                            <ul>
                                <li><a href="http://coffeescript.org/" target="_blank">CoffeeScript</a></li>
                                <li><a href="http://www.lesscss.org/" target="_blank">LESS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div id="c14" class="csc-default">
                            <header class="csc-header csc-header-n1"><h3 class="csc-firstHeader">CLI foo</h3></header>
                            <ul>
                                <li><a href="http://brew.sh/" target="_blank">brew</a></li>
                                <li><a href="https://npmjs.org/" target="_blank">npm</a></li>
                                <li><a href="http://gruntjs.com/" target="_blank">grunt</a></li>
                                <li><a href="http://bower.io/" target="_blank">bower</a></li>
                                <li><a href="http://yeoman.io/" target="_blank">yeoman</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div id="c549" class="csc-default">
                            <header class="csc-header csc-header-n1"><h3 class="csc-firstHeader">me@</h3></header>
                            <ul>
                                <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/dasrick" target="_blank">Twitter</a>
                                </li>
                                <li><i class="fa fa-github"></i> <a href="https://github.com/dasrick" target="_blank">GitHub</a>
                                </li>
                                <li><i class="fa fa-bitbucket"></i> <a href="https://bitbucket.org/dasrick"
                                                                       target="_blank">Bitbucket</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <nav id="c21" class="csc-default">
                            <header class="csc-header csc-header-n1"><h3 class="csc-firstHeader">Rechtliches</h3>
                            </header>
                            <ul class="csc-menu csc-menu-def">
                                <ul class="csc-menu csc-menu-1">
                                    <li class="firstRow"><a href="impressum/" title="Impressum"
                                                            target="_self">Impressum</a></li>
                                    <li class="lastRow"><a href="haftungsausschluss/" title="Haftungsausschluß"
                                                           target="_self">Haftungsausschluß</a></li>
                                </ul>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="csc-default">
            <div class="divider">
                <hr>
            </div>
        </div>
        <div id="c1" class="csc-default"><p class="text-center">Copyright © 1998-2014 dasrick. All rights reserved.</p>
        </div>
    </div>
</footer>
