<footer class="footer">
    <div class="container">
        <div class="row ">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <h3>Framework/CMS</h3>
                <ul>
                    <li><a href="http://symfony.com/" target="_blank">Symfony</a></li>
                    <li><a href="http://cmf.symfony.com/" target="_blank">Symfony CMF</a></li>
                    <li><a href="http://typo3.org/" target="_blank">TYPO3</a></li>
                    <li><a href="http://neos.typo3.org/" target="_blank">NEOS</a></li>
                    <li><a href="http://flow.typo3.org/" target="_blank">Flow</a></li>
                </ul>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <h3>GUI foo</h3>
                <ul>
                    <li><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a></li>
                    <li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a></li>
                </ul>
                <h3>Script foo</h3>
                <ul>
                    <li><a href="http://coffeescript.org/" target="_blank">CoffeeScript</a></li>
                    <li><a href="http://www.lesscss.org/" target="_blank">LESS</a></li>
                </ul>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <h3>CLI foo</h3>
                <ul>
                    <li><a href="http://brew.sh/" target="_blank">brew</a></li>
                    <li><a href="https://npmjs.org/" target="_blank">npm</a></li>
                    <li><a href="http://gruntjs.com/" target="_blank">grunt</a></li>
                    <li><a href="http://bower.io/" target="_blank">bower</a></li>
                    <li><a href="http://yeoman.io/" target="_blank">yeoman</a></li>
                </ul>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <h3>me@</h3>
                <ul>
                    <li>
                        <a href="https://twitter.com/dasrick" target="_blank">
                            <i class="fa fa-twitter"></i>
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/dasrick" target="_blank">
                            <i class="fa fa-github"></i>
                            GitHub
                        </a>
                    </li>
                    <li>
                        <a href="https://bitbucket.org/dasrick" target="_blank">
                            <i class="fa fa-bitbucket"></i>
                            Bitbucket
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <h3>Rechtliches</h3>
                <ul>
                    <li>
                        <a href="/impressum/"
                           title="Impressum"
                           target="_self">Impressum</a>
                    </li>
                    <li>
                        <a href="/haftungsausschluss/"
                           title="Haftungsausschluß"
                           target="_self">Haftungsausschluß</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <p class="text-center">Copyright © 1998-2014 dasrick. All rights reserved.</p>
</footer>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
