<header>
    <div class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="1">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" type="button"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
                <a href="//dasrick.github.io" title="dasRICK" target="_self" active="" current="1"
                   class="navbar-brand"><span class="part-0"><i class="fa fa-dot-circle-o"></i></span><span
                        class="part-1">das</span><span class="part-2">RICK</span></a></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" title="usr" target="_self" data-toggle="dropdown">usr <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="">
                                <a href="usr/einfuehrumsatzsteuer/"
                                   title="Einfuehrumsatzsteuer" target="_self">Einfuehrumsatzsteuer</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" title="dev" target="_self" data-toggle="dropdown">dev <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="">
                                <a href="dev/html5/" title="HTML5" target="_self">HTML5</a>
                            </li>
                            <li class="">
                                <a href="dev/mac-os-x/" title="Mac OS X" target="_self">Mac OS X</a>
                            </li>
                            <li class="">
                                <a href="dev/objective-c/" title="Objective-C" target="_self">Objective-C</a>
                            </li>
                            <li class="">
                                <a href="dev/symfony/" title="Symfony" target="_self">Symfony</a>
                            </li>
                            <li class="">
                                <a href="dev/typo3/" title="TYPO3" target="_self">TYPO3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="etc" target="_self" data-toggle="dropdown">etc <b class="caret"></b></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
